<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <section name="WacsConfiguration" type="wacs.Configuration.WacsConfiguration, wacs"/>
    </configSections>

    <WacsConfiguration FarmSize="2">
        <Synod>
            <Nodes>
                <add Address="tcp://127.0.0.1:5050" IsLocal="true"/>
                <add Address="tcp://127.0.0.1:5051" IsLocal="false"/>
                <!--<add Address="tcp://127.0.0.1:5052"/>-->
            </Nodes>
        </Synod>
        <Lease
            MaxLeaseTimeSpan="00:00:03"
            ClockDrift="00:00:00.100"
            MessageRoundtrip="00:00:00.200"
            NodeResponseTimeout="00:00:00.400"/>
    </WacsConfiguration>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <include file="${basedir}/config/NLog.config"/>
    </nlog>

    <autofac>
        <modules>
            <module type="wacs.MainModule, wacs" />
        </modules>
    </autofac>

</configuration>