<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="WacsConfiguration" type="wacs.Configuration.WacsConfiguration, wacs" />
    </configSections>

    <WacsConfiguration>
        <NodeResolver ProcessIdBroadcastPeriod="00:00:00.100" />
        <Topology>
            <LocalNode BaseAddress="tcp://127.0.0.1" IntercomPort="3030" ServicePort="4030" />
            <Synod Id="">
                <Members>
                    <add BaseAddress="tcp://127.0.0.1" IntercomPort="3030" ServicePort="4030" />
                    <add BaseAddress="tcp://127.0.0.1" IntercomPort="3031" ServicePort="4031" />
                    <add BaseAddress="tcp://127.0.0.1" IntercomPort="3032" ServicePort="4032" />
                    <add BaseAddress="tcp://127.0.0.1" IntercomPort="3033" ServicePort="4033" />
                    <add BaseAddress="tcp://127.0.0.1" IntercomPort="3034" ServicePort="4034" />
                </Members>
            </Synod>
        </Topology>
        <Lease MaxLeaseTimeSpan="00:00:03" ClockDrift="00:00:00.100" MessageRoundtrip="00:00:00.400" NodeResponseTimeout="00:00:00.200" />
    </WacsConfiguration>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <include file="${basedir}/config/NLog.config" />
    </nlog>

    <autofac>
        <modules>
            <module type="wacs.MainModule, wacs" />
        </modules>
    </autofac>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>